hr 
{
  border-style: solid ;
  height:1px
}

body 
{
	
	margin : 4px;
	color : black;
	background: #fff;
    font-family: verdana;
}

a:link { color:#000000}
a:visited { color: #3366CC; }
a:hover {color: #000066}

H1 
{
text-align: center;
font-family:verdana;
color: #990000}

H1.leftalign 
{
text-align: left;
font-family:verdana;
color: #990000}

H2 
{
text-align: left;
font-family:verdana;
color: #990000}


body 
{
background-image:url('/images/bg.jpg');
}
.imgcentered{


   margin-left: 130px;
   margin-right: 10px;
   padding: 0 0px 0px 0px; /*top right bottom left*/  
}



table.center 
{
  margin-left:auto;  
  margin-right:auto;
}
.button
{
padding: 4px 16px;
}

.leftbody
{
  position: absolute; 
  z-index: 10;
  width: 500px; 
  height: 600px;
  margin-left: 100px;
  margin-top: 40px; 
  font-weight: normal;
 
  padding: 0 30px 50px 60px; /*top right bottom left*/  
} 

.rightbody
{

 position: absolute; 
 z-index: 15; 
 margin-left: 800px;
 margin-top: 0px;
 padding: 0 0 20px 5px; /*top right bottom left*/ 
 
}
.rightbodybottom
{

 position: absolute; 
 background-color:#003366;
 z-index: 15; 
 margin-left: 800px;
 margin-top: 400px;
 padding: 0 200px 20px 5px; /*top right bottom left*/ 
 
}

.leftmostbody
{
  position: absolute; 
  z-index: 10; 
  margin-top:10px;
}

.line
{
  margin-top:530px;
}

li.nostyle
{
 list-style-type: none;
}

p
{
text-align:left;
color:white;
font-family:verdana;
}

p.authorname
{  
  text-align:right;
}

p.title
{ 
 font-weight: bold;
 text-align:center;  
}

p.date
{
 color :#787878  ;
 font-family:verdana;}
