<div  class = "imgcentered" >
<a href="www.google.com"><img  border="1" src=" /images/framedirect.png" alt="" width="1100" height="100" /></a>
</div>

<div id = "model" class = "leftbody" >
<a href="www.google.com"><img  border="0" src="" alt="" width="400" height="400" /></a>
</div>


<div class = "rightbody">
<table border = "1" >
	<tr>
		<th>Materials</th>
		<th>shape</th>
		<th>price</th>
	</tr>
  
	<tr>
	<td><select name="material" id = "material" align = "center">
	<option selected="true"  value="All">All</option>
	<option value="plastic">plastic</option>
	<option value="metal">metal</option>
	</select>
	</td>
	<td><select name="shape" id = "shape">
	<option selected="true" value="All">All</option>
	<option value="oval">oval</option>
	<option value="square">square</option>
	</select>

<td><select name="price" id ="price">
	<option  selected="true" value="All">All</option>
	<option value="low to high">low to high</option>
	<option value="high to low">high to low</option>
	</select>

</tr>



   <% count = 0 %>
<% @clients.each do |client| %>
   <%if count == 0%><tr id = "image"><%end%>
    <td id = "frame"><%= link_to  image_tag(client.frame_url, :alt => "welcome to my own blog image.gif") , client.image_url ,{:id => client.id}%></td>
	  <% count += 1 %>

<% end %>


</table>
</div>

    </div>
     <div  id = "eyeglassstable">
    </div>
</div>


<script >




$("a").live('click', function(e) {
       e.preventDefault();


     var mainImage = $(this).attr("href");

   var id = this.id;

   $("#model img").attr("src", mainImage);
   $.getJSON("clients.json",function(result,suc){
          for (i=0;i<=result.length;i++)
            {
                if(result[i].id == id)
                {
                    var content = "<div id = 'eyeglassstable' class='rightbodybottom'><font color ='#FFFFFF' >" +  "  &nbsp;Name:"+ "   " +result[i].name   ;
                   content +=  "  &nbsp; &nbsp;Material:" + result[i].material + "  &nbsp; color: " + result[i].color ;
                   content +=  "  &nbsp; &nbsp;&nbsp;Shape:" + result[i].shape + "&nbsp; &nbsp;&nbsp;Price:" + result[i].price +"</div>";

                     $('#eyeglassstable'). replaceWith( content );
                  }
            }
       });


});
 var sort_by = function(field, reverse, primer){

               reverse = (reverse) ? -1 : 1;

               return function(a,b){

                   a = a[field];
                   b = b[field];

                   if (typeof(primer) != 'undefined'){
                       a = primer(a);
                       b = primer(b);
                   }

                   if (a<b) return reverse * -1;
                   if (a>b) return reverse * 1;
                   return 0;

               }
            }
         $("#price").change(function()
         {
           var sel = $('#price option:selected').text();


             $.getJSON("clients.json",function(result,suc){
               if(sel == "low to high")
               {
                 result.sort(sort_by('price', false, parseFloat));
               }
                 else if (sel == "high to low")
                    result.sort(sort_by('price', true, parseFloat));
                 $("table").find("#image").remove();
                 var msg = "<tr id = 'image'>";
                for (i=0;i<=result.length - 1;i++)
                {
                   msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
                }
                msg +=  "</tr>";


                $("table tr:last").after(msg);
                   $("#model img").attr("src", "");
                     var content = "<div id = 'eyeglassstable'></div>"
                $('#eyeglassstable'). replaceWith(content);
             });


         });
         $("#shape").change(function()
         {
             var sel = $('#shape option:selected').text();

             $.getJSON("clients.json",function(result,suc){
               $("table").find("#image").remove();
                 var msg = "<tr id = 'image'>";
                for (i=0;i<=result.length - 1;i++)
                {
                    if(result[i].shape == sel)
                    {
                        msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
                    }
                    else if (sel == "All")
                    {
                          msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
                    }
                }
                msg +=  "</tr>";

                $("#model img").attr("src", "");
                $("table tr:last").after(msg);
                   var content = "<div id = 'eyeglassstable'></div>"
                $('#eyeglassstable'). replaceWith(content);

             });
         });
      $("#material").change(function()
        {
            var sel = $('#material option:selected').text();

            $.getJSON("clients.json",function(result,suc){
              $("table").find("#image").remove();
                var msg = "<tr id = 'image'>";

               for (i=0;i<=result.length - 1;i++)
               {

                   if(result[i].material == sel)
                   {
                       msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
                   }
                   else if (sel == "All")
                   {
                         msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
                   }
               }
               msg +=  "</tr>";

               $("#model img").attr("src", "");
               $("table tr:last").after(msg);
                 var content = "<div id = 'eyeglassstable'></div>"
                $('#eyeglassstable'). replaceWith(content);

            });
        });


</script>