
<!-- Banner Image -->
<div  class = "imgcentered" >
	<img  border="1" src=" /images/framedirect.png" alt="" width="1100" height="100" />
</div>

<!-- Model Image --->
<div id = "model" class = "leftbody" >
<table border = "1">
	<tr>
		<td>
			<img  border="0" src="/images/model.png" alt="" width="400" height="400" />
		</td>
	</tr>
</table>
</div>

<!-- Glasses Table -->
<div class = "rightbody">
	<table id = "frames" border = "1" >
		<tr>
			<th>Materials</th>
			<th>shape</th>
			<th>price</th>
		</tr>
		<tr>
			<td>
				<select name="material" id = "material" align = "center">
					<option selected="true"  value="All">All</option>
					<option value="plastic">plastic</option>
					<option value="metal">metal</option>
				</select>
			</td>
			<td>
				<select name="shape" id = "shape">
					<option selected="true" value="All">All</option>
					<option value="oval">oval</option>
					<option value="square">square</option>
				</select>
			<td>
				<select name="price" id ="price">
					<option  selected="true" value="All">All</option>
					<option value="low to high">low to high</option>
					<option value="high to low">high to low</option>
				</select>
			</td>
		</tr>
		<!--Ruby code of getting glasses images from database -->
		<% count = 0 %>
		<% @eyeGlass.each do |eg| %>
			<%if count == 0%><tr id = "image"><%end%>
			<td id = "frame"><%= link_to  image_tag(eg.frame_url, :alt => "welcome to my own blog image.gif") , eg.image_url ,{:id => eg.id}%></td>
		<% count += 1 %>
          <%if count == 3%><% count = 0 %><%end%>
		<% end %>
	</table>
</div>

<!--selected eye glasses information received by Jqeury function -->
<div id = 'eyeglassstable'/>

<!--Jquery code -->
<script >

/**
*Returns the selected eye glasses information
*
*@ return var
*/
$("a").live('click', function(e) 
{
    /*to prevent 'click' default event.*/
	e.preventDefault();
    var mainImage = $(this).attr("href");
	var id = this.id;
    /*replace src attribute of image with the model with spects src. */
	$("#model img").attr("src", mainImage);
    /*getJSON function reads the data from json file into "result" variable and success in "suc" variable*/
	$.getJSON("clients.json",function(result,suc)
	{
		for (i=0;i<=result.length;i++)
		{
			if(result[i].id == id)
            {
                /*This loop is to update eye glass information selected by user.*/
                var content = "<div id = 'eyeglassstable' class='rightbodybottom'><font color ='#FFFFFF' >" + "<table id = info><tr><td>"+"  Name:"  + result[i].name +"</td>";
				content +=  " <td>&nbsp; &nbsp;</td><td> Material:" + result[i].material + " </td><td>&nbsp; &nbsp;</td><td></td><td>color: " + result[i].color;
				content +=  "</td></tr><tr><td>Shape:" + result[i].shape + "</td><td>&nbsp; &nbsp;</td><td>Price:" + result[i].price + "</td></tr></table></div>";
                $('#eyeglassstable'). replaceWith( content );
            }
        }
    });
});

/**
*Return the eye glasses price.
*if reverse is true, return price from high to low
*if reverse is false, return price from low to high
*
*@field name tag of sorting objects
*@reverse sorting paramter, true from high to low, flase from low to high
*@primer number parsing parameter.
*
*@return var
*/
var sort_by = function(field, reverse, primer)
{
	reverse = (reverse) ? -1 : 1;
	return function(a,b)
	{
		a = a[field];
		b = b[field];
				   
		if (typeof(primer) != 'undefined')
		{
			a = primer(a);
			b = primer(b);
		}
		if (a<b) return reverse * -1;
		if (a>b) return reverse * 1;
		return 0;
	}
}

/**
*Return the table row of eye glasses sorted by price.
*
*@ return var
*/
$("#price").change(function()
{
    /*when user select price , set all other to "all" option*/
    $("#material").val("All");
    $("#shape").val("All");
	var sel = $('#price option:selected').text();
	$.getJSON("clients.json",function(result,suc)
	{
        /*sort price depend on selection from combobox.*/
		if(sel == "low to high")
		{
			/*ascending order*/
            result.sort(sort_by('price', false, parseFloat));
		}
		else if (sel == "high to low")
        /*descending order*/
			result.sort(sort_by('price', true, parseFloat));

        /*remove model image with spects*/
        $("#frames").find("#image").remove();
        var count = 0 ;
        var msg = "<tr id = 'image'>";
		for (i=0;i<=result.length - 1;i++)
        {

			msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
            count += 1;
            if(count == 3)
            {
                count = 0;
                msg +=  "</tr>";
                msg += "<tr id = 'image'>";
            }
		}
        
		$("#frames tr:last").after(msg);
		$("#model img").attr("src", "/images/model.png");
		var content = "<div id = 'eyeglassstable'></div>";
        /*replace eye glasses with selected option */
        $('#eyeglassstable'). replaceWith(content);
    });
});

/**
*table row of eye glasses sorted by shape. 
*
*@ return var
*/		 
$("#shape").change(function()
{
     /*when user selects shape , set all other to "all" option*/
    $("#price").val("All");
   $("#material").val("All");

	var sel = $('#shape option:selected').text();
	$.getJSON("clients.json",function(result,suc)
	{
        $("#frames").find("#image").remove();
        var msg = "<tr id = 'image'>";
        var count = 0 ;
        for (i=0;i<=result.length - 1;i++)
        {
            	/*filter eye glasses data to get only selected shape*/
                    if(result[i].shape == sel || sel == "All" )
                    {
                        msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
                        count += 1;
                        if(count == 3)
                        {
                            count = 0;
                            msg +=  "</tr>";
                            msg += "<tr id = 'image'>";
                        }
                     }
		}
		$("#model img").attr("src", "/images/model.png");
		$("#frames tr:last").after(msg);
		var content = "<div id = 'eyeglassstable'></div>";
        /*replace eye glasses with selected option */
        $('#eyeglassstable'). replaceWith(content);
	});
});

/**
*Return the table row of eye glasses sorted by materials. 
*
*@ return var
*/
$("#material").change(function()
{
     /*when user selects material , set all other to "all" option*/
    $("#price").val("All");
    $("#shape").val("All");
	var sel = $('#material option:selected').text();
	$.getJSON("clients.json",function(result,suc)
	{
		$("#frames").find("#image").remove();
        var count = 0;
		var msg = "<tr id = 'image'>";
		for (i=0;i<=result.length - 1;i++)
		{
			/*filter eye glasses data to get only selected material*/
            if(result[i].material == sel || sel == "All")
			{
				msg += "<td id = 'frame'><a id ='"+ result[i].id + "'href = " + result[i].image_url +"><img src='" + result[i].frame_url +"'/></a></td>" ;
                 count += 1;
                        if(count == 3)
                        {
                            count = 0;
                            msg +=  "</tr>";
                            msg += "<tr id = 'image'>";
                        }
			}
		}
		$("#model img").attr("src", "/images/model.png");
		$("#frames tr:last").after(msg);
		var content = "<div id = 'eyeglassstable'></div>";
        /*replace eye glasses with selected option */
  		$('#eyeglassstable'). replaceWith(content);

	});
});
</script>