<div  class = "imgcentered" >
<img  border="1" src=" /images/framedirect.png" alt="" width="1100" height="100" />
</div>

<div id = "model" class = "leftbody" >
<img  border="0" src="" alt="" width="400" height="400" />
</div>


<div class = "rightbody">
<table border = "1" >
	<tr>
		<th>Materials</th>
		<th>shape</th>
		<th>price</th>
	</tr>
  
	<tr>
	<td><select name="material" aligh = "center">
	<option value="All">All</option>
	<option value="plastic">Plastic</option>
	<option value="metal">Metal</option>
	</select>
	</td>
	<td><select name="shape">
	<option value="All">All</option>
	<option value="round">round</option>
	<option value="square">square</option>
	</select>

<td><select name="price">
	<option value="All">All</option>
	<option value="below $20">below $20</option>
	<option value="below $10">"below $10</option>
	</select>

</tr>



   <% count = 0 %>
<% @clients.each do |client| %>
   <%if count == 0%><tr><%end%>
    <td><%= link_to  image_tag(client.frame_url, :alt => "welcome to my own blog image.gif") , client.image_url ,{:id => client.id}%></td>
	  <% count += 1 %>
  <% if count == 3%></tr><% count = 1 end%>
<% end %>


</table>
</div>
     <div  id = "eyeglassstable" class="rightbodybottom" >
    </div>
</div>


<script>
$("a").click(function(event){
   event.preventDefault();
   var mainImage = $(this).attr("href");
   var id = this.id;

   $("#model img").attr("src", mainImage);
   $.getJSON("clients.json",function(result,suc){

            var content = "<div id = 'eyeglassstable' class='rightbodybottom'><font color ='#FFFFFF' >" +  "  &nbsp; &nbsp;&nbsp;Price:"+ "   " +result[id-1].eye_glass.price   ;
           content +=  "  &nbsp; &nbsp;&nbsp;Brand:" + result[id-1].eye_glass.name + "   <br> &nbsp;&nbsp; color: " + result[id-1].eye_glass.color + "</div>"

             $('#eyeglassstable'). replaceWith( content );
       });



});
</script>


<br /> 

<br />


